@font-face {
    font-family: Aeroportal;
    src: url(/static/fonts/Aeroportal.ttf);
}

@font-face {
    font-family: AeroportalMedium;
    src: url(/static/fonts/AeroportalMedium.ttf);
}

@font-face {
    font-family: AeroportalBold;
    src: url(/static/fonts/AeroportalBold.ttf);
}

body {
    font-family: Aeroportal;
    font-size: 18px;
}

h1 {
    font-family: AeroportalBold;
    font-size: 48px;
}

h2 {
    font-size: 26px;
}

.carousel {
    background-color: #ccffd0;
    padding-top: 15px;
    padding-bottom: 35px;
}

.carousel-indicators {
    position: relative;
    bottom: 0;
}

.carousel-indicators li {
    border-color: #081;
}

.carousel-indicators li.active {
    background-color: #081;
    border-color: #081;
}

.externallinks {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
}

.externallinks a,
.externallinks a:active,
.externallinks a:visited,
.externallinks a:hover {
    color: #081;
}



